* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


ul .sub-menu {
    top: 68px;
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    border: 0px solid black;
    padding: 8px 6px;
    margin: 8px 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 190px;
}

li:hover>ul.sub-menu {
    display: block;
}

.sub-menu :hover a {
    color: green;
}

.fa-heart {
    position: absolute;
    top: 20px;
    right: 30px;
    color: black;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 6px;
}

.fa-heart:hover {
    color: green;
}

nav {
    padding-top: 8px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    margin-left: 2px;
    margin-right: 2px;
}

.timkiem {
    margin-top: 90px;
}


